[Unit]
Description=Starts btrbk backup with the appropriate mount.
Requires=mnt-btrfsroot.mount
After=mnt-btrfsroot.mount

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash /home/ava/run-btrbk.sh
ExecStop=/usr/bin/umount /mnt/btrfsroot
