[Unit]
Description=Run btrbk backup w/ btrfs root mount.
Requires=mnt-btrfsroot.mount
After=mnt-btrfsroot.mount

[Service]
Type=oneshot
#ExecStartPre=/bin/sleep 30
ExecStart=/bin/bash /home/ava/Scripts/run-btrbk.sh
ExecStop=/usr/bin/umount /mnt/btrfsroot
