[Unit]
Description=Mount the btrfs root that contains the subvolumes to /mnt/btrfs-root
Before=btrfs.service

[Mount]
What=/dev/mapper/data-root
Where=/mnt/btrfsroot
Type=btrfs
Options=subvolid=5

[Install]
WantedBy=multi-user.target
